@media screen and (min-width: 920px){

}

@media screen and (max-width:919px){

/* .mobileNavbar{
    display: block;
    background-color: red;
} */
img {
    width: 10%;
    cursor: pointer;
}
#hiddenMenu{
    display: none;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

/* when i remove these stylings the burgermenu works */
.mobileNavbar {
    display: flex;
    justify-content: flex-end;
    

}

#hiddenMenu {
    z-index: 2;
    position: absolute;
    top: 5px;
    right: 10px;
    bottom: 10px;
    left: 10px;
  
}

#burgerButton{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 5px;
    
}

}