
.gallery img {
    margin: 5px; 
    width: 200px;
    height: 180px;
    margin: 2px;
    border-radius: 10px;
}

.icon {
    width: 20px;
    height: 25px; 
    padding: unset;
    color: black;
}

.social-media{
    display: inline-block;
  /*   width: 40%; */
}

.social-media .icon {
    margin-bottom: -6px;
    margin-right: 6px;
}

.voucher-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.voucher {
    width: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
}


.subheading {
    font-weight: bold;
    color: #E18A07;
    font-size: 18px;
   
}

p {
    padding: 5px;
}

.subheading div {
   display: inline-block;
   margin-left: 10px;
   width: 50%;
   font-weight: normal;
   color: black;
}

.vouchers {
    font-size: 12px;
}

.vouchers label {
    font-weight: bold;
}

.vouchers input[type=number] {
    width: 40px;
}