<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
        *{
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif; 
            margin: 0;
            text-align: center;
            color: #666666 ;
        }
        .container {
            width: 500px;
            margin: 50px auto; 
            display: flex;
        }
        fieldset {
            border-radius: 10px;
            width: 500px;
            border: 2px solid #E18A07;
        }
        legend {
            color: #E18A07;
        }

       
        .code{
            border-radius: 10px;
            padding: 30px;
        }

    </style>
    <title>CoupyKauf Voucher</title>
</head>
<body>
    <div class="container">
        <fieldset>
            <legend style="font-size: 40px;">CoupyKauf Voucher</legend>
            <div class="info">
             <p>Company Name: </p>
             <!-- this should be a dynamic value  -->
             <h1 >Mo's Barber Shop</h1>
             <!-- only the number should be a dynamic value -->
             <p style="font-size: 180px; color: #E18A07;">30 &euro;</p>
            </div>
            <div class="code">
                <img id='barcode' src="https://api.qrserver.com/v1/create-qr-code/?data=HelloWorld&amp;size=100x100" alt="" title="HELLO" width="300" height="300" />
            </div>
        </fieldset>
    </div> 

<script>function generateBarCode() 
    {
        var nric = $('#text').val();
        var url = 'https://api.qrserver.com/v1/create-qr-code/?data=' + nric + '&amp;size=50x50';
        $('#barcode').attr('src', url);
    }</script>
</body>
</html>