.profile-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 800px;
    margin: auto; 
   padding: 1% 2%;
   background-color: rgb(248, 246, 246);
    
}

fieldset {
    border: none;
}

.profile-page button{
    justify-content: center;
}

.profile-nav, .profile-form {
    padding: 10px; 
    
}
p {word-break: break-all} 

.profile-nav {
 display: flex;
 justify-content: center;
}

.profile-form {
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
 
}


.profile-item{
    margin: 1rem;
    flex-grow: 1;
}

.profile-item > * {
    margin: 3px; 
}

.gallery > * {
    width: 25%;
}

.profile-item > textarea {
    width: 95%;
    height: 100px;
}

.save-edit {
    display: flex;
    justify-content: center;
    align-items: center;
}