.profile-page{
    /* border: 1px solid purple; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin: auto; 
   /*  margin: 0 20%;  */
   /*  padding: 2% 5%;  */
    
}

.profile-page * {
    border: 1px solid black;
}

.profile-page button{
    justify-content: center;
}

.profile-nav, .profile-form {
    border: 1px solid red;
    padding: 10px; 
    height: 90%;
    
}


.profile-nav {
 display: flex;
 justify-content: center;
}

.profile-form {
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
 
}


.profile-item{
   /*  border: 1px solid black; */
    /* width: 30%; */
    margin: 1rem;
    flex-grow: 1;
}

.profile-item > * {
    height: 30px;
  /*   border: 1px solid blue;  */
    margin: 10px; 
}

.gallery > * {
    width: 25%;
  /*   min-width: 250px; */
}

.profile-item > textarea {
    width: 95%;
    height: 100px;
}

.save-edit {
    display: flex;
    justify-content: center;
    align-items: center;
}