/* * {
    border: 1px solid black;
} */



.voucher_details{
    
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.voucher{
    /* display: flex;
    justify-content: center;
    align-items: center;
     */
    padding-bottom: 30px;
}

.voucher > ul  {
    list-style-type: none;
    display: contents;
}
.voucher > ul > li {
    padding-top: 10px;
}

.checkboxes > label{
    padding-right: 15px;
    padding-left: 5px;
    }

.buyBtn{
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    border-style: none;
    background-color:  #E18A07;
    cursor: pointer;
    box-shadow: 3px 3px 8px #888888;
    min-width: 100px;
    margin-top: 20px;
    text-decoration: none;
    text-align: center ;

    width: 300px;

    margin-bottom: 50px;

    /* position: absolute;
    top: 170px; */
}

fieldset {
    display: flex;
    flex-direction: column;
}

.paymentMethods{

    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.paymentMethods > a {
    padding: 5px;

}

.iconPayment {
    
    width: 40px;
    height: 40px;
    
    padding: unset;
    color: black;
}