.vouchers-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

.card {
    box-shadow: 0 0 20px black;
    border-radius: 10px;
    height: 260px;
    width: 600px;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    margin: 20px;
    padding: 20px;
    position: relative; /* this is too give rthe button a absolute position, which can only happen if there is a parent with an absolute or relative position */
}

.card * {
    /* border: 1px solid black;  */
}

.card img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    border: 2px solid #E18A07;
}

.card div {
    padding: 5px; 
}

.profile-sidebar {
    width: 40%; 
    font-size: 16px;
}
.profile-sidebar > p {
    padding: 2px;
    font-size: 12px;
}


.profile-main {
    width: 60%; 
}
.profile-main > li {
    list-style-type: none;
}

#myBtnContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.btnCard {
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    border-style: none;
    background-color:  #E18A07;
    cursor: pointer;
    box-shadow: 3px 3px 8px #888888;
    min-width: 100px;
    margin-top: 20px;
    text-decoration: none;
    text-align: center ;

    width: 300px;

    position: absolute;
    top: 170px;
}

.btnCard:focus {
    outline:none;
    background-color:  #cf8009;
    
}
.iconOnCard{
    width: 25px;
    height: 25px;
    padding: unset;
    color: black;
}


@media screen and (min-width: 650px){
    .card{
        flex-direction: row;
    }
}


@media screen and (max-width: 649px){
    .card{
        flex-direction: column;
        width: 300px;
        height: 650px;

        align-items: center;
    }
    .profile-sidebar{
        width: auto;
    }
    .profile-main{
        width: 90%;
        height: auto;
    }

    p{
        width: auto;
    }
    .btnCard{
        position: absolute;
        top: 80%;
        left: 25px;
        right: 0;
        width: 250px;
    }
    .iconOnCard{
        width: 40px;
        height: 40px;
        padding: unset;
        color: black;
    }
}

